[submodule "SoftwareEngineer"]
	path = SoftwareEngineer
	url = https://github.com/zerofishnoodles/mapick.git
[submodule "SAT"]
	path = SAT
	url = https://github.com/zerofishnoodles/SAT.git
[submodule "OperatingSystem"]
	path = OperatingSystem
	url = https://github.com/zerofishnoodles/riscv-pke.git
[submodule "CompileSystem"]
	path = CompileSystem
	url = https://github.com/zerofishnoodles/Compiler.git
[submodule "DataStructure"]
	path = DataStructure
	url = https://github.com/zerofishnoodles/data_structure.git
[submodule "SystemAbilityPA"]
	path = SystemAbilityPA
	url = https://github.com/zerofishnoodles/NJU-PA.git
