[submodule "SoftwareEngineer"]
	path = SoftwareEngineer
	url = https://github.com/zerofishnoodles/mapick.git
[submodule "SAT"]
	path = SAT
	url = https://github.com/zerofishnoodles/SAT.git
[submodule "OperatingSystem"]
	path = OperatingSystem
	url = https://github.com/zerofishnoodles/riscv-pke.git
